.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
.idea/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore
.env
dist/
*.log
